* {
	margin: 0;	
	padding: 0;
}

html, body{
	font-size: 100%;
	font-display: "Comic Sans MS", cursive, sans-serif;
	margin: auto;
	max-width: 1024px;
} 

body{
	border: 1px solid #000;
} 

#header {
	color: #F3C428;
	background-color: #A80022; 
	text-align: center;
	background-image: url('images/sfondo.png');
	background-position: bottom right;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 1em;
	padding-top: 0.7em;
} 

#header h1{
	background-image: url('images/angry-birds-logo-nero.png') ;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -999999em;
	font-size: 3em;
	transition: all .25s cubic bezier(.19, 1, .22,1)
}

#header h1:hover{
	transform: scale(1.05);
}

#header h2{
	font-size: 2em;
	margin-top: 0.7em;
}

#breadcrumb{
	background-color: #0E1E38;
	color: #F3C428;
	font-size: 1.1em;
	padding: 0.5em 0em 0.5em 1em;
}


#menu{
	float: left;
	width: 20%;
	font-size: 1.3em;
	padding: 0.8em;
}

#menu ul{
	list-style-type: none;
	margin:0;
	padding:0.2em;
}

#menu ul li{
	margin-top: 0.5em;	
}

#currentLink{ /*DA SISTEMARE!!!!!!!!!!!!!!!!!!!*/
	background-image: url('images/red.png');
	background-position: left center;
	background-size: 1.2em;
	background-repeat: no-repeat;
	padding-left: 1.4em;
}

#breakingNews{
	float: right;
	width: 20%;
	position: static;
	border: 1px dashed #000;
	padding: 0.5em;
	margin-top: 1em;
	margin-left: 3%;
	margin-right: 2%;	
}

#breakingNews h2{
	font-size: 1.2em;
	background-color: #F3C42B;
	padding: 0.2em;
}

#breakingNews dt{
	margin-left: 0.8em;
}

#breakingNews dd{
	margin-left: 1.5em;	
}

#content{	
	border: 1px solid #000;
	margin-left:25%;
	padding: 1.0em;
	padding-top: 2.0em;
	padding-left: 3.5em;	
}
#storiaH1{
	text-align: center;
	padding-bottom: .3em;
}

#storyImg{
	display: block;
	margin: auto;
	width: 50%;	
}
#tornaSu{
	text-align: right;
}

#charactersStory dd{
	border: 1px solid #000;
	border-top: none;
	padding: 0.5em;
	margin-bottom: 1.0em;
	min-height: 130px;
}

#charactersStory dt{
	background-color: #A80022;
	color: white;
	padding: 0.5em;
	font-size: 1.1em;
}

#charactersStory dd img{
	float: left;
	width: 20%;
	margin-right: 1.0em;
}

#charactersStory dd p{
	margin-left: 25%;
}

#content img{
	box-shadow: 10px 10px 8px grey;
	margin: auto;
}

#listVersions dd{
	border: 1px solid #000;
	border-top: none;
	padding: 0.5em;
	margin-bottom: 1.0em;
	min-height: 130px;
}

#listVersions dt{
	background-color: #A80022;
	color: white;
	padding: 0.5em;
	font-size: 1.1em;
}

.cur{
	width: 40%;
}

#contentCuriosita h1{
	text-align: center;
}

#footer {
	clear: both;
	text-align: center;
	font-size: 0.8em;
	border-top: 1px solid #000;
	padding: 0.5em;
}

#footer p{
	display: inline;
	font-style: italic;
}
	
#footer .imgValidCode{
	vertical-align: middle;
	margin-left: 1.0em;
	margin-right: 1.0em;
	margin-bottom: 0.7em;
}
	
	

